@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SunSUIT-MediumcheonB';
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

#container {
  width: 640px;
  margin: 0 auto;
  font-size: 24px;
  background-color: #fff;
  border-radius: 15px;
}

form {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

#signup-table {
  width: 640px;
}

th {
  width: 180px;
  text-align: right;
  padding: 5px;
}

td {
  width: 340px;
  text-align: left;
  padding-left: 5px;
}

input {
  font-size: 24px;
  max-width: 240px;
  padding: 5px;
}

textarea {
  resize: none;
  width: 240px;
  min-height: 100px;
}

input, textarea {
  box-sizing: border-box;
}

#buttons {
  margin-top: 10px;
  text-align: center;
}


.ui-selectmenu-button {
  width: 240px !important;
  box-sizing: border-box;
}

.ui-checkboxradio-label {
  padding: 0.4em 0.65em;
}